@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Comfortaa', cursive;
}

/* Background animation */
.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.7;
  z-index: -10;
}

.hidden{
  display: none;
}

.app{
  margin: 0;
  padding: 0;
}


/* Loading GIF */
.loading-gif{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
==========================================
Home
==========================================
*/
.home-container{
  padding: 0;
  padding-top: 75px;
}

/* 
==========================================
Form Styling
==========================================
*/

.theForm{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 0 150px 0;
}

.theForm form{
  display: flex;
  flex-direction: column;
}

.formName-formToFill{
  text-align: center;
  background-color: white;
  box-shadow: 0 0 125px -18px #222222;
  width: fit-content;
  margin: 0 auto 40px auto;
  padding: 10px 40px;
  border-radius: 20px;
}

.theForm .end-of-form-btn,
.theForm form .end-of-form-btn{
  margin: 40px auto;
  padding: 20px 30px;
  background-color: rgb(2, 126, 2);
  border: 0;
  color: white;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 16px;
}
.theForm .end-of-form-btn:hover{
  transform: translateY(-5px);
}

.theForm .form-name-container{
  display: flex;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 15px 2px rgb(34 34 34 / 84%);
  padding: 20px 25px;
  border-radius: 10px;
  margin: 0 auto 20px auto;
  width: 95%;
  max-width: 750px;
}

.theForm .form-name-container .formName-input{
  margin: 0 20px;
  border-width: 0 0 1px 0;
  border-color: rgb(2, 126, 2);
  border-style: solid;
  flex: 1;
  font-size: 20px;
  text-align: center;
  animation: all 5s;
  padding-bottom: 4px;
}
.theForm .form-name-container .formName-input:focus{
  outline: none;
  border-width: 0 0 2px 0;

}

.theForm .error-msg{
  background-color: white;
  margin: 20px auto;
  color: red;
  text-align: center;
  width: fit-content;
  font-weight: bold;
  box-shadow: 0 0 10px #222222;
  padding: 10px 15px;
  border-radius: 20px;
}
.theForm .edit-form-btns-container{
  position: absolute;
  right: 25px;
  top: 5px;
}

.theForm .edit-form-btns-container .edit-form-btns{
  padding: 4px 6px;
  font-size: 19px;
  background: transparent;
  border: 1px solid rgb(13, 13, 13, 0.64);
  border-radius: 4px;
  margin-left: 2px;
  cursor: pointer;
}
.theForm .edit-form-btns-container .edit-form-btns:hover{
  background-color: #eaeaea;
}

/* 
========================================
Form Elements
========================================
*/
.form-element{
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0 0 15px 2px rgb(34 34 34 / 84%);
  padding: 35px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 750px;
  background-color: white;
  position: relative;
}

.theForm .form-element .form-element-question{
  margin-bottom: 5px;
}
.theForm .form-element .oneline-element-input{
  border: 0;
  height: 40px;
  border-bottom: 1px solid green;
  font-size: 20px;
}
.theForm .form-element .oneline-element-input:focus{
  outline: none;
  border-bottom: 2px solid green;
}
.theForm .form-element .textarea-element-input{
  border: 1px solid green;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  resize: vertical;
}
.theForm .form-element .textarea-element-input:focus{
  outline: none;
  border: 2px solid green;
}
.theForm .form-element .char-limit-textarea{
  color: green;
  text-align: right;
  margin-top: 7px;
}
.theForm .form-element .radio-element-input,
.theForm .form-element .checkbox-element-input{
  margin-right: 10px;
}

/* 
========================================
Add form
========================================
*/
.add-form-element{
  width: fit-content;
  margin: auto;
}
.add-form-element .add-form-elements-btn{
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 50%;
  padding: 15px;
  color: #222222;
  box-shadow: 0 0 10px #222222;
  font-size: 20px;
  width: 50px;
  height: 50px;
  transition: all 0.2s;
  cursor: pointer;
}
.add-form-element .add-form-elements-btn:hover{
  background-color: rgb(177, 177, 177); 
}

.add-form-element .options{
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 0.3s all;
  box-shadow: 0 0 10px #222222;
  margin: 10px 0 0 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
  width: fit-content;
  margin-bottom: 300px;
}
.add-form-element .hideOptions{
  transform: translate(-5000%, 0);
}

.add-form-element .showOptions{
  transform: translate(-50%, 0);
}
.add-form-element .add-form-element-option{
  padding: 16px 30px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(233, 233, 233);
}
.add-form-element .add-form-element-option:hover{
  background-color: rgb(218, 218, 218);
}

/* 
==================================
Details Panels
==================================
*/
.detailsPanel{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.72);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailsPanel .detailsForm{
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  width: 100%;
  max-width: 380px;
}
.detailsPanel .detailsForm .details-panel-heading{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.detailsPanel .detailsForm input{
  height: 40px;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
  border: 2px solid #616161;
  border-radius: 10px;
}
.detailsPanel .detailsForm button{
  font-size: 15px;
  padding: 5px 7px;
  background-color: #00af00;
  color: white;
  text-align: center;
  display: block;
  border-radius: 7px;
  text-decoration: none;
  margin: 5px 0;
  border: 0;
  transition: all 0.1s;
}
.detailsPanel .detailsForm button:hover{
  background-color: #00af9b;
}

.detailsPanel .detailsForm .details-panel-btns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsPanel .detailsForm .details-panel-btns button{
  flex: 1 1;
  cursor: pointer;
  margin: 20px 5px 5px 5px;
  padding: 14px 5px;
  font-size: 16px;
  box-shadow: 0 0 20px 1px rgba(33, 33, 33, 0.478);
}
.detailsPanel .detailsForm .add-remove-options-div{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.detailsPanel .detailsForm .add-remove-options-div button{
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 10px;
}
.detailsPanel .detailsForm .empty-field-error{
  color: red;
  font-weight: bold;
  font-size: 17px;
}

/* 
=============================
Responses
=============================
*/
.responses{
  padding: 100px 0px 200px 0px;
}
.responses .responses-heading{
  text-align: center;
  background-color: white;
  box-shadow: 0 0 110px 0px rgba(0, 0, 0, 0.5);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 50px auto;
  padding: 10px 40px;
  border-radius: 20px;
}
.responses .form-name{
  margin: 0 auto 30px auto;
  background-color: white;
  box-shadow: 0 0 10px #222222;
  border-radius: 15px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px 5px 20px;
  font-size: 27px;
}
.responses .form-details-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px;
}
.responses .form-detail{
  background-color: white;
  box-shadow: 0 0 10px #222222;
  border-radius: 20px;
  padding: 10px 12px;
}
.responses .responses-list-container{
  /* display: flex; */
}

.single-response{
  background-color: white;
  box-shadow: 0 0 20px #222222;
  padding: 30px;
  margin: 20px;
  border-radius: 30px;
}
.single-response .single-response-element{
  width: fit-content;
}

.single-response .response-question{
  font-size: 18px;
  margin: 15px 0 0 0;
  font-weight: bold;
}
.single-response p{
  font-size: 17px;
}
.single-response .response-number{
  font-size: 18px;
  text-decoration: underline;
}

.responses .back-to-dashboard{
  display: block;
  width: 250px;
  margin: 30px auto;
  padding: 20px 30px;
  background-color: rgb(2, 126, 2);
  border: 0;
  text-align: center;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
}
.responses .back-to-dashboard:hover{
  background-color: rgb(0, 83, 0);
}

/* 
==================================
Login
==================================
*/

/* .auth-container{
  padding: 0 10px;
} */

.auth-form{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 10px #222222;
  padding: 150px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  background-image: url("/src/auth_form_background.png");
  background-size: cover;
  background-position: top center;
}

.auth-form .auth-heading{
  color: #7b6444;
  text-align: center;
}
.auth-form .auth-labels{
  margin: 20px 0 0 0;
}
.auth-form .auth-inputs{
  height: 50px;
  padding: 10px;
  border: 0;
  background-color: #e8e8e8;
  font-size: 17px;
  margin-top: 10px;
}
.auth-form .auth-buttons{
  margin: 25px auto 10px auto;
  padding: 15px 60px;
  background-color: #7b6444;
  border: 0;
  border-radius: 30px;
  color: white;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 16px;
}
.auth-form .auth-buttons:hover{
  background-color: #553200;
}
.auth-form .demo-user{
  border: 1px solid black;
  border-radius: 22px;
  padding: 7px;
  cursor: pointer;
}
.auth-form .auth-redirect{
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
}
.auth-form .error{
  font-size: 15px;
  color: red;
}

/* 
==================================
Dashboard
==================================
*/
.dashboard-container{
  padding: 100px 15px 100px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-container .dashboard-flash-msg{
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  background-color: #1f1f1f;
  box-shadow: 0 0 45px -5px #222222;
  width: fit-content;
  margin: 0 auto 30px auto;
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  transition: all 3s;
  opacity: 1;
}

.dashboard-container .dashboard-header{
  width: 100%;
  max-width: 1000px;
  text-align: left;
}
.dashboard-container .dashboard-header h2{
  text-align: center;
  background-color: white;
  box-shadow: 0 0 125px -18px #222222;
  width: fit-content;
  margin: 0 auto 30px auto;
  padding: 10px 40px;
  border-radius: 20px;
}
.dashboard-container .dashboard-header p{
  margin: 60px 0 30px 0;
  background-color: white;
  box-shadow: 0 0 10px #222222;
  border-radius: 15px;
  width: fit-content;
  padding: 5px 20px 5px 20px;
}
.dashboard-container .create-new-form-btn{
  font-size: 20px;
  padding: 13px 45px;
  background-color: #fdd057;
  color: white;
  text-align: center;
  display: block;
  border-radius: 30px;
  text-decoration: none;
  margin: 5px auto;
  max-width: 500px;
  text-shadow: 0 0 10px #222222;
  transition: all 0.2s;
}
.dashboard-container .create-new-form-btn:hover{
  transform: translateY(-5px);
}
.dashboard-list-container{
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-list-container .no-forms-to-show-div{
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px #222222;
  margin-top: 30px;
  height: 100px;
  border-radius: 20px;
}
.dashboard-list-container .no-forms-to-show-div p{
  text-align: center;
}
.dashboard-list-container .dashboard-list-headings-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px #222222;
  border-radius: 20px 20px 0 0;
  height: 50px;
  background-color: #e8e8e8;
  text-align: center;
}

.dashboard-list-container .dashboard-list-headings-container .dashboard-list-heading,
.dashboard-list-container .dashboard-list-item .single-dashboard-list-item{
  padding: 0 20px;
  height: fit-content;
}

.dashboard-list-container .dashboard-list-headings-container .name-heading{
  flex: 2;
}
.dashboard-list-container .dashboard-list-headings-container .date-heading{
  flex: 1;
}
.dashboard-list-container .dashboard-list-headings-container .responses-heading{
  flex: 1;
}
.dashboard-list-container .dashboard-list-headings-container .empty-heading{
  flex: 1;
}

.dashboard-list-container .dashboard-list-item{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
  box-shadow: 0 0 10px #222222;
  background-color: white;
  border-radius: 20px;
  font-size: 16px;
}


.dashboard-list-container .dashboard-list-item .dashboard-formName{
  font-weight: bold;
  font-size: 19px;
}
.dashboard-list-container .dashboard-list-item .dashboard-list-item-name{
  flex: 2;
  text-align: center;
}
.dashboard-list-container .dashboard-list-item .dashboard-list-item-date{
  flex: 1;
  text-align: center;
}
.dashboard-list-container .dashboard-list-item .dashboard-list-item-response-num{
  flex: 1;
  text-align: center;
}
.dashboard-list-container .dashboard-list-item .dashboard-btns-right{
  flex: 1;
  text-align: center;
}

.dashboard-list-container .dashboard-list-item .single-dashboard-list-item .dashboard-editing-btns{
  text-decoration: none;
  background: #00a6dc;
  color: white;
  padding: 6px 7px;
  font-size: 12px;
  margin: 3px 5px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s;
}
.dashboard-list-container .dashboard-list-item .single-dashboard-list-item .dashboard-editing-btns:hover{
  background: #0082ad;
}

.dashboard-list-container .dashboard-list-item .view-responses-btn{
  font-size: 15px;
  padding: 3px 2px;
  background-color: #00af00;
  color: white;
  text-align: center;
  display: block;
  border-radius: 35px;
  text-decoration: none;
  margin: 5px 0;
  transition: all 0.1s;
}
.dashboard-list-container .dashboard-list-item .view-responses-btn:hover{
  background-color: #018b01;
}




/* .dashboard-list-container .dashboard-list-headings-container .dashboard-list-heading{
  flex: 1
} */

/* =============================== */

/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header{
  display: flex;
  align-items: center;
}
header img{
  width: 250px;
  margin-right: 40px;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
header .btn{
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
}
.recipe{
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
.recipe img{
  width: 100px;
  margin: -30px auto 20px;
}
footer{
  text-align: center;
  margin-top: 120px;
  color: #aaa;
} */
